{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
  <main class="mainautenticacao">
    <section class="section-autenticacao">
      <h2 class="h2-autenticacao">Redefinir senha</h2>
      <p>Informe o email associado ao seu cadastro na Loja para enviarmos um link de redefinição de senha da sua conta</p>
      <form method="POST" action="{% url 'password_reset' %}" class="password_reset">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary" type="submit">Enviar link</button>
      </form>
    </section>
  </main>
{% endblock content %}