{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
{% if validlink %}
  <main class="mainautenticacao">
    <section class="secao-autenticacao" style="margin-left: 60em;">
        <h1>Redefinição de Senha</h1>
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <button class="btn btn-primary" type="submit">Redefinir Senha</button>
        </form>
      {% else %}
      <section class="section-autenticacao">
        <h1>Link Inválido</h1>
        <p>O link de redefinição de senha é inválido, provável por já ter sido usado, tente requisitar outro.</p>
      </section>
      {% endif %}
    </section>
  </main>
  {% endblock content %}